name: build-test
 
on:
  push:
    branches: ["*", "**/*"]
  pull_request:
 
permissions:
  contents: read
  packages: write
 
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
 
jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
 
